<!--<!DOCTYPE html>-->
<!--<html lang="fr">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Document</title>-->

<!--  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">-->
<!--  <link rel="stylesheet" href="./accueil.css">-->
<!--</head>-->
<!--<body>-->
<div class="container1">
  <header>
    <nav>
      <h1>OWN Design</h1>
      <div class="right">
        <p><a href="#">Accueil</a></p>
        <p><a href="#modeles">Présentation</a></p>
        <p><a href="#contact">Contact</a></p>
        <p><button routerLink="/login" class="button">Se connecter</button></p>
      </div>
    </nav>
    <section class="presentation first">
      <div class="product-presentation">
        <h1 style="color: #fff;">Concevez vous même</h1>
        <p>OWN Design est une application web qui permet à un quiconque (tiers, entreprise, ...) de concevoir des modèles à partir des modèles prédéfinis fournis par l'application
          et/ou par un artiste diplômé enregistré dans l'application destiné à l'impression ou au numérique...
        </p>
        <button  routerLink="/home">Concevez maintenant</button>
        <div class="small-images">
          <div class="small">
            <img src="../../../assets/A4_Brochure_Mockup.png"/>
          </div>
          <div class="small">
            <img src="../../../assets/Banner Mockup.png"/>
          </div>
          <div class="small">
            <img src="../../../assets/Branding PSD Poster Mockup.png"/>
          </div>
        </div>
      </div>
      <div class="image">
        <img src="../../../assets/93.png"/>
      </div>
    </section>
  </header>
  <section class="presentation second">
    <div class="product-presentation">
      <p class="new">Nouveau modèle disponible</p>
      <h1 style="color: #fff;">Nouveau modèle de carte de visite</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat
      </p>
      <button>Voir le modèle</button>
    </div>
    <div class="image">
      <img src=""/>
    </div>
  </section>

  <section id="modeles" class="modeles section-padding">
<!--    <div class="container">-->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2 class="mt-4">Nos services</h2>
            <p>Découvrez nos différents services.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <img src="../../../assets/pencil-square.svg" style="width: 35px; height: 35px;">
              <!--              <i class="bi bi-subtract"></i>-->
              <h3 class="card-title mt-3 mb-3">Personnalise</h3>
              <p class="lead mt-3 mb-3">Vous avez la possibilité de concevoir votre modèle à partir de la bibliothèque proposée.</p>
<!--              <button class="btn text-light" style="background-color: #ea4336">Read more</button>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <img src="../../../assets/chat-dots-fill.svg" style="width: 35px; height: 35px;">
              <!--              <i class="bi bi-subtract"></i>-->
              <h3 class="card-title mt-3 mb-3">Chat</h3>
              <p class="lead mt-3 mb-3">Vous avez la possibilité de partager avec les professionnels du métier.</p>
<!--              <button class="btn text-light" style="background-color: #ea4336">Read more</button>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <img src="../../../assets/briefcase-fill.svg" style="width: 35px; height: 35px;">
              <!--              <i class="bi bi-subtract"></i>-->
              <h3 class="card-title mt-3 mb-3">Forme</h3>
              <p class="lead mt-3 mb-3">Vous avez la possibilité de vous former sur les bases du design graphique.</p>
<!--              <button class="btn text-light" style="background-color: #ea4336">Read more</button>-->
            </div>
          </div>
        </div>
      </div>
<!--    </div>-->
  </section>

  <section id="portfolio" class="portfolio section-padding">
<!--    <div class="container">-->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5 mt-5 mb-2">
            <h2>Nos catégories</h2>
            <p>Découvrez nos différentes catégories !</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-light text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="../../../assets/carte-visite.jpg" class="img-fluid" style="width: 200px; height: 200px;">
              </div>
              <h3 class="card-title">Bureau</h3>
              <p class="lead">Des éléments de bureau</p>
              <button class="btn mt-1" style="background-color: #ea4336; color: white;">Découvrir</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-light text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="../../../assets/carte-visite.jpg" class="img-fluid" style="width: 200px; height: 200px;">
              </div>
              <h3 class="card-title">Evènementiel</h3>
              <p class="lead">Des éléments miés à l'évènementiel</p>
              <button class="btn mt-1" style="background-color: #ea4336; color: white;">Découvrir</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-light text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="../../../assets/carte-visite.jpg" class="img-fluid" style="width: 200px; height: 200px;">
              </div>
              <h3 class="card-title">Bureau</h3>
              <p class="lead">Des éléments de bureau</p>
              <button class="btn mt-1" style="background-color: #ea4336; color: white;">Découvrir</button>
            </div>
          </div>
        </div>
      </div>
<!--    </div>-->
  </section>
  <section id="contact" class="contact section-padding">
<!--    <div class="container">-->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5 mt-4 mb-2">
            <h2>Contactez-nous !</h2>
            <p>Pour plus d'informations, bien vouloir nous contacter !</p>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12 p-0 pt-4 pb-4">
          <form method="post" action="mailto:fomofranklin16@gmail.com" class="bg-light p-4 m-auto">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="text" name="object" class="form-control" required placeholder="Votre nom complet">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="email" name="subject" class="form-control" required placeholder="Votre adresse mail">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <textarea rows="3" name="body" required class="form-control" placeholder="Vos questions..."></textarea>
                </div>
              </div>

              <input type="submit" value="Envoyer" class="btn btn-lg btn-block mt-3" style="background-color: #ea4336; color: white;">
            </div>
          </form>
        </div>
      </div>
<!--    </div>-->
  </section>

  <footer>
    <div class="column">
      <h3>Aide</h3>
      <p>owndesign@gmail.com</p>
      <p>Contactez-nous</p>
      <p>Comment matérialiser</p>
    </div>
    <div class="column">
      <h3>Contributeur</h3>
      <p>fomofranklin16@gmail.com</p>
      <p>Postuler en ligne</p>
      <p>Comment faire ?</p>
    </div>
    <div class="column">
      <h3>Réseaux</h3>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>Instagram</p>
    </div>
  </footer>
</div>
<!--</body>-->
<!--</html>-->
